.assignments{
    display: flex;
    flex-direction: column;
}
.assignment{
    background-color: white;
    width: 100%;
    height: 200px;
    max-height: 100%;
    margin: 25px;
    display: flex;
    flex-direction: column;
    border-radius:5px;
    box-shadow: 0px 5px 7px -3px rgba(0,0,0,0.75);
    justify-content: center;
    padding: 10px;
}

.assignment:hover{
    background-color: rgb(243, 243, 243);
}
.assignment > p {
    color: gray ;
   font-size: 0.9rem;
   margin-top: 5px;
}
.assignment__logo{
    background-color: #3aa5ab;
    padding: 20px;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0px 5px 7px -3px rgba(0,0,0,0.75);
}

.assignment__logo > p{
    color: white;
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    align-items: center;
}