.avatarMenu{
    width: 250px;
    height: 450px;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(219, 219, 219, 0.719);
    position: absolute;
    top: 6%;
    right: 40px;
    border-radius: 10px;
    border: 3px solid #3aa5ab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.avatarMenu__userCredentials > h4{
    margin-top: 15px;
    overflow-wrap: break-word;
    
}
.avatarMenu__userCredentials{
    
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 150px;
    max-width: 100%;
   
    justify-content: center;
    align-items: center;
    padding: 20px;
    
 

   
}

.avatarMenu__options{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.avatarMenu__options > button{
    display: flex;
    width: 100% ;
    max-width: 100%;
    padding: 10px;
    border-top: 1px solid rgb(212, 212, 212);  
    border: none; 
    margin-bottom: 10px;
    background-color: rgba(226, 224, 224, 0.719) ;
    border-radius: 5px;
}
.avatarMenu__options > button > p{
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
    color: rgb(100, 100, 100);
}
.avatarMenu__options > button > .MuiSvgIcon-root{
    color: rgb(100, 100, 100); 
}


.avatarMenu__options > button:hover{
    background-color: #3aa5abb6;
}

.avatarMenu__options > button:hover > p{
    color: white;
    font-size: medium;
}

.avatarMenu__options > button:hover > .MuiSvgIcon-root{
    color: white;
}

.avatarMenu__logout > button{
    display: flex;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border-top: 1px solid rgb(212, 212, 212);  
    border: none; 
    
    background-color: rgba(226, 224, 224, 0.719) ;
    margin-top: 39px;
    border-radius: 5px;
}
.avatarMenu__logout{
    width: 100%;
    display: flex;
}

.avatarMenu__logout> button > p{
    color: rgb(197, 41, 41);
    margin-left: 10px;
    margin-top: 5px ;
    font-weight: bold;
}
.avatarMenu__logout > button > .MuiSvgIcon-root{
    color: rgb(197, 41, 41);
}

.avatarMenu__logout > button:hover{
    background-color: rgba(221, 4, 4, 0.685); 
}

.avatarMenu__logout > button:hover > p{
    color: white;
    font-size: medium;
}

.avatarMenu__logout > button:hover > .MuiSvgIcon-root{
    color: white;
}

