.chat{
    background-color: rgb(248, 248, 248);
    height: 100vh;
    display: flex;
    

}
.chat__sidebar{
    flex: 0.25;
    background-color: whitesmoke;
    height: 100vh;
    border-right: 1px solid rgb(200, 200, 200);
    padding: 10px;
}
.chat__content{
    flex: 0.75;
    background-color: whitesmoke;
}