.classFeed{
    flex: 1;
    padding: 30px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    
}
.classFeed__loader{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
    width: 100%;
}
.classFeed_header{
    display: flex;
}
.classfeed_icon{
    font-size: 3rem;
    margin-left: 100px;
}
.classFeed_icon{
    color: lightseagreen;
    font-size: 2.5rem !important;
}
.members_info{
    display: flex;
    position: fixed;
    top: 10%;
    right: 0%;
    min-height: 100vh;
    background-color: rgb(238, 236, 236);
    flex-direction: column;
    box-shadow: 7px 25px 7px 1400px rgba(0, 0, 0, 0.308);
    overflow-y: scroll;
}
.class_members{
    display: flex;
    padding: 20px;
}