.classMeetings{
    flex: 1;
    padding: 30px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.classMeetings > p{
    text-align: center; 
    font-size: 2rem;
    font-weight: bolder;
    color: gray;
}

.classMeetings__noclasses{
        color: rgb(212, 212, 212) !important ;
        font-size: 3rem !important;
        margin-top: 50px !important;
        margin-bottom: 50px !important;
        text-align: center !important;
}

.classMeetings__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100% ;
    
    margin: 0 -40px;
}