.classSidebar{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 100vh;
    border-right: 1px solid rgb(216, 216, 216);
    padding: 5px ;
    
    
    
    
    
}
.classSidebar__classInfo{
    text-align: center;
    border-bottom: 1px solid rgb(226, 225, 225);
    padding-bottom: 10px;
    width: 100%;
}

.classSidebar__classInfo > img{
    width: 150px;
    height: 150px;
    max-width: 100%;
}

.classSidebar__classInfo > p {
    color: rgb(180, 178, 178);
    font-size: 0.9rem;
}
.info_modal{
    display: flex;
}
.info_fade{
    position: fixed;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    padding: 40px;
    background-color: rgb(238, 236, 236);
    box-shadow: 7px 25px 7px 1400px rgba(0, 0, 0, 0.308);
}
.info_fade > h2{
    color: #3aa5ab;
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 1px solid rgb(197, 195, 195);
    margin-bottom: 40px;
}
.info_fade > p{
    padding: 20px;
}
.info_fade > p > button{
    width: 40%;
    height: 40px;
    border: none;
   
    margin-top: 20px;
    background-color: #3aa5ab;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    outline-width: 0;
}
.info_fade > p > button:hover{
    background-color: #3aa5ab83;
}

.classSidebar__nav{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: left;
}
.classSidebar__nav > button{
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(238, 238, 238) ;
    border-left: none;
    border-right: none;
    border-top: none;  
    background-color: whitesmoke;
    color: gray;
    border-radius: 3px;
    outline-width: 0;

}
.classSidebar__nav > button:hover{
    background-color: rgb(228, 226, 226) ;
}