.classCabinetMaterialFile{
    margin-top: 30px;
    background-color: rgb(235, 235, 235);
    width: 60%;
    padding: 10px;
    border-radius: 10px;
}
.anchortag{
    text-decoration: none;
    color: gray;
    
}
.classCabinetMaterialFile:hover{
    background-color: rgb(224, 224, 224);
    color: gray;
}
