.classCabinet{
    padding: 0px 10px 0px 10px;
    display: flex ;
    flex-direction: column;
    align-items: center;
}

.classCabinet__navigation{
    width: 100%;
    background-color: rgb(236, 236, 236);
    padding: 20px 10px;
   
    
}

