.classCabinetMaterial{
    display: flex;
    flex-direction: column;
    
}
.classCabinetMaterial__upload{
    width: 60%;
    background-color: white;
    border-radius: 10px;
    box-shadow: -5px 5px 7px -7px rgba(0,0,0,0.75);
    margin-top: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
   
}
.classCabinetMaterial__uploadArea > form {
    display: flex;
    
}

.classCabinetMaterial__uploadArea > form > label{
    background-color: gray;
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline-width: 0;
    color: white;
    
}
.classCabinetMaterial__uploadArea > form > label:hover{
    background-color: rgb(207, 207, 207);
}
.classCabinetMaterial__uploadArea > form > p{
    margin-top: 7px;
    margin-left: 10px;
    color: gray;
    cursor: pointer;
}

.classCabinetMaterial__uploadButton {
   
    display: flex;
    
    
}
.classCabinetMaterial__uploadButton > button{
    background-color: #3aa5ab;
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline-width: 0;
    color: white;
  

}
.classCabinetMaterial__uploadButton > button:hover{
    background-color: #00c8d3;
}

.classCabinetMaterial__cancelButton > .MuiSvgIcon-root{
    color: gray;
    margin-top: 5px;
    margin-left: 15px;
    padding: 5px;
    font-size: 1.5rem;
}

.classCabinetMaterial__cancelButton > .MuiSvgIcon-root:hover{
    color: rgb(224, 48, 48) ;
    background-color: rgb(238, 238, 238);
    border-radius: 999px;
    
}
