.classCabinetNavigation{
    display: flex;
}
.classCabinetNavigation > button{
    border: none;
    margin-right: 10px ;
    color: #369297;
    background-color: rgb(236, 236, 236);
    
    outline-width: 0;
    font-size: 1rem;
   
}

.classCabinetNavigation > button:hover{
    border-bottom: 1px solid;
}