.classFeed{
    flex: 1;
    padding: 30px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    
}
.classFeed__loader{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
    
    width: 100%;
}