.editProfile{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 500px;
    max-width: 100%;
    height: 550px;
    background-color: rgb(238, 236, 236);
    box-shadow: -7px 15px 7px 1000px rgba(0, 0, 0, 0.637);
    border: 1px solid gray;
    border-radius: 6px;
    text-align: center;
    overflow-y: scroll;
}

.editProfile__header{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    margin-bottom: 50px;
    text-align: center;
}

.editProfile__header > p{
    color: #3aa5ab;
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 1px solid rgb(197, 195, 195);
    margin-left: 160px;
    
}
.editProfile__header > .MuiSvgIcon-root{
    margin: 15px;
    color: red;
}
.editProfile > form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    
}

.editProfile > form > p{
    font-size: 1.5rem;
    font-weight: bold;
    color: gray;
    margin-bottom: 20px;
}

.editProfile > form > input{
    width: 60%;
    margin-left: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.editProfile > form > textarea{
    width: 63%;
    margin-left: 100px;
    border: none;
    border-radius: 5px;
    margin-bottom: 60px;
}

.editProfile > form > button{
    width: 40%;
    height: 40px;
    margin-left: 150px;
    border: none;
    background-color: #3aa5ab;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    outline-width: 0;
}
.editProfile__avatar{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.editProfile__avatarcontent{
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;
}
.editProfile__avatarcontent > label{
    font-size: 15px;
    font-weight: bolder;
    border: none;
    color: #3aa5ab;
}
.editProfile__avatarcontent > label:hover{
    cursor: pointer;
     text-decoration: underline;
     font-size: 1.3rem;
}

.editProfile__username{
    outline-width: 0px;
}
