.event{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 500px;
    max-width: 100%;
    height: 550px;
    background-color: rgb(238, 236, 236);
    box-shadow: -7px 15px 7px 1000px rgba(0, 0, 0, 0.52);
    border: 1px solid gray;
    border-radius: 6px;
    overflow-y: scroll;
    
}
.event__header{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   align-items: center;
    margin-bottom: 40px;
    
}

.event__header > p{
    color: #3aa5ab;
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 1px solid rgb(197, 195, 195);
    margin-left: 80px;
}
.event__header > .MuiSvgIcon-root{
    margin: 15px;
    color: red;
    
}
.event > form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    
}
.event__timepickers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 20px;
}
.event_form_group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.eventlabel{
    font-size: 1.5rem;
    font-weight: bold;
    width: 250px;
    color: gray;
    margin-bottom: 30px;
}
.event_classes{
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 110px;
}
/* MuiMenu-list */
.custom-menu  {
    overflow-y: scroll !important;
    height: 320px !important;
}
.MuiSelect-nativeInput{
    width: 0px !important;
    position: inherit !important;
}
.MuiSelect-selectMenu {
    width: 220px !important;
}

.event_button{
    width: 40%;
    height: 40px;
    margin-left: 150px;
    margin-top: 30px;
    border: none;
    background-color: #3aa5ab;
    color: white;
    border-radius: 10px;
    outline-width: 0;
}

.event__error{
    color: red !important;
    font-size: small !important;
    font-weight: normal !important;
}