.header{
    background-color: #00b9be;
    display: flex;
    justify-content: space-between;
}

.header__left > img {
    width: 80px;
    height: 70px;
    margin-left: 20px;
}

.header__right{
    margin-right: 20px;
    margin-top: 15px;
    display: flex;
        
    
}
.header__right > .MuiSvgIcon-root{
    color: rgb(231, 166, 0) ;
    margin-right: 15px;
    padding: 5px;
    
}
.header__right > .MuiSvgIcon-root:hover{
    background-color: rgba(109, 109, 109, 0.294) ;
    border-radius: 999px;
}

.header__right:hover{
    cursor: pointer;
}

