.header{
    background-color: #00b9be;
    display: flex;
    justify-content: space-between;
}

.header__left > img {
    width: 80px;
    height: 70px;
    margin-left: 20px;
}

.header__right{
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.notification__icon{
    color: rgb(231, 189, 0) ;
    padding: 5px;
}
.header__icon{
    margin-right: 10px;
}

.header__right:hover{
    cursor: pointer;
}

