.mainComponent{
    display: flex;
    flex-direction: column;
    height: 200vh;
}
.mainComponent__body{
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: rgb(248, 248, 248);
    height: 200vh;
}

.mainComponent__sidebar{
    flex: 0.01;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 25vh;
}

.mainComponent__content{
    flex: 1;
    justify-content: center;
    align-items: center;
    
}
