.messageSender{
    background-color: white;
    padding: 20px;
    width: 800px;
    max-width: 80%;
    border-radius: 10px;
    box-shadow: -5px 5px 5px -7px;
}
.messageSender__top{
    display: flex;
    flex-direction: row;
    
}

.messageSender__message{
    margin-top: 5px;
    margin-left: 40px;
    width: 600px;
    max-width: 80%;
    height: 20px;
    border: none;
    border-radius: 20px;
    outline-width: 0;
    padding: 10px;
    background-color: whitesmoke ;
    color: gray;
}
.messageSender__uploader > .MuiSvgIcon-root {
    color: #3AA5AB;
    margin-left: 20px;
    width: 30px;
    height: 30px;
}
.messageSender__image{
    margin-top: 5px;
    margin-left: 30px;
    width: 150px;
    max-width: 80%;
    height: 20px;
    border: none;
    border-radius: 20px;
    outline-width: 0;
    padding: 10px;
    background-color: whitesmoke ;
    color: gray;
}
.messageSender__top > form{
    display: flex;
    align-items: center;
}
.messageSender__top > form > button{
    display: none;
}
.messageSender__bottom{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.messageSender__bottom > img{
    width: 150px;
    height: 150px;
    max-height: 100%;
    max-width: 100%;
    border: none !important;
    outline-width: 0 !important;
}