.messageSender{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 800px;
    height: 50px;
    max-width: 80%;
    border-radius: 10px;
    box-shadow: -5px 5px 5px -7px;
}
.messageSender__top{
    display: flex;
    flex-direction: row;
    
}

.messageSender__message{
    margin-top: 5px;
    margin-left: 40px;
    width: 400px;
    max-width: 80%;
    height: 20px;
    border: none;
    border-radius: 20px;
    outline-width: 0;
    padding: 10px;
    background-color: whitesmoke ;
    color: gray;
}

.messageSender__image{
    margin-top: 5px;
    margin-left: 30px;
    width: 150px;
    max-width: 80%;
    height: 20px;
    border: none;
    border-radius: 20px;
    outline-width: 0;
    padding: 10px;
    background-color: whitesmoke ;
    color: gray;
}

.messageSender__top > form > button{
    display: none;
}