.myClasses{
    background-color: rgb(248, 248, 248);
    height: 100vh;
    padding: 50px;
    justify-content: center;
    
    
}
.myClasses > p{
    text-align: center; 
    font-size: 2rem;
    font-weight: bolder;
    color: gray;
    
}
.myClasses__createAndJoin{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(230, 228, 228, 0.863);
}

.myClasses__ClassList > p{
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: gray;
    font-weight: bold;
}

.classList__list{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}
.classList__list > div{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    border-radius: 20px;
}
.iconButton{
    float: right;
    padding: 0px !important;
    align-items: flex-start !important;
}
.myClasses__noclasses {
    color: rgb(212, 212, 212) !important ;
    font-size: 3rem !important;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    text-align: center !important;
   
}

.myClasses__ClassList{
    
    display: flex;
    flex-direction: column ;
    border-bottom: 1px solid rgba(230, 228, 228, 0.863);
    
}
