.post{
    width: 100%;
    margin-top: 50px;
    border-radius: 15px;
    background-color: white;
    box-shadow: -5px 5px 7px -7px rgba(0,0,0,0.75);
    padding: 10px;
    
}
.post_icon{
    float: right;
}
.post__top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}
.post__avatar{
    margin-right: 15px;
}

.post__topinfo > h3{
    font-size: medium;
}
.post__topinfo > p{
    font-size: small;
    color: gray;

}

.post__bottom{
    margin-top: 10px;
    padding: 15px 20px;
}
.post__image{
    display: flex;
    justify-content: center;
    
}
.post__image > img {
    width: 600px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    border: none;
    outline-width: 0;
}
.post_contentbar{
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
}
.post_likes{
    display: flex;
    flex-direction: column;
}
.post_likes > div{
    margin-left: 5px;
}
.thumbs_up{
    color: lightslategrey;
    margin-right: 10px;
}
.thumbs_up:hover{
    color: lightseagreen;
}
.thumbs_up_clicked{
    color: lightseagreen;
    margin-right: 10px;
}
.post_comments{
    padding-left: 20px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.post_comments > p{
    padding: 10px;
    font-size: 15px;
}
.post_comments > p > div{
    font-size: small;
}
.post_comments > p > strong{
    margin-right: 15px;
}
.post_commentbox{
    padding-top: 20px;
    display: flex;
    margin-left: 10px;
}
.post_input{
    border: none;
    border-radius: 20px;
    outline-width: 0;
    width: 900px;
    padding: 10px;
    background-color: whitesmoke ;
    color: gray;
}
.post_button{
    margin-left: 20px;
    border: none;
}