.qbox {
    display: flex;
    flex-direction: column;
    background-color:#3aa5ab59;
    height: 100vh;
    min-width: 100%;
    justify-content: center;
    align-items: center;
}
.qcontainer{
    padding: 20px;
    background-color: #eeeeee;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    color: #3AA5AB;
    justify-content: center;
    max-height: 500px;
    overflow-y: scroll;
    width: 900px;
    box-shadow: -20px 20px 7px -3px rgba(0, 0, 0, 0.623);
}
.cards{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card-body{
    background-color: #eeeeee;
    margin: 30px;
    align-items: center;
    color: #3AA5AB;
    justify-content: center;
    width: 250px;
    box-shadow: -10px 10px 7px -3px rgba(0, 0, 0, 0.623);
}

.card-body-options{
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}


.card-text{
    padding: 10px
}
.edit__question{
    padding: 10px;
    margin-left: 200px;
}
.edit__question:hover{
    color: #3aa5abb7;
}
.edit__modal{
    position: absolute;
    display: flex;
    padding: 5px;
    padding-top: 70px;
    flex-direction: column;
    position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 500px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
    max-width: 800px;
    background-color: rgb(238, 236, 236);
    box-shadow: -7px 15px 7px 1000px rgba(0, 0, 0, 0.52);
    border: 1px solid gray;
    border-radius: 6px;
    text-align: center;
   
}
.cross__button{
    margin-left: 400px;
}
.etextArea{
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.esample-text {
    width: 100%;
    height: 100px;
    color: #1f1f1f;
    margin-bottom: 10px;
}