#loader {
    display: none;
    position: absolute;
    left: 40%;
    top: 35%;
    width: 100px;
    height: 100px;
}
#ques_loader {
    display: none;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.navbar-custom {
    background-color: #1f1f1f;
    font-family: 'Oswald', sans-serif;
}
.scontainer{
    background-color: #eeeeee;
    text-align: center;
    align-items: center;
    color: #3AA5AB;
    justify-content: center;
    height: 600px;
    width: 650px;
    box-shadow: -20px 20px 7px -3px rgba(0, 0, 0, 0.623);
}
.sample-text {
    width: 100%;
    height: 300px;
    margin: 0 10%;
    color: #1f1f1f;
    margin-bottom: 10px;
}
.textArea{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 25px;
}
.scover-button {
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border: none;
    background-color: #3aa5ab;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    outline-width: 0;
}
.sbutton{
    width: 100%;
    margin-left: 200px;
}
.scover-button:hover {
    background-color: #3aa5abab;
}