.qbox {
    display: flex;
    flex-direction: column;
    background-color:#3aa5ab59;
    height: 100vh;
    min-width: 100%;
    justify-content: center;
    align-items: center;
}
.qcontainer{
    padding: 20px;
    background-color: #eeeeee;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    color: #3AA5AB;
    justify-content: center;
    width: 900px;
    box-shadow: -20px 20px 7px -3px rgba(0, 0, 0, 0.623);
}
.cards{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card-body{
    background-color: #eeeeee;
    margin: 30px;
    align-items: center;
    color: #3AA5AB;
    justify-content: center;
    width: 250px;
    box-shadow: -10px 10px 7px -3px rgba(0, 0, 0, 0.623);
}
.card-text{
    padding: 10px
}