.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #3aa5ab;
    min-height: 100vh;
}
 .sidebar__button >.MuiSvgIcon-root{
    margin-top: 5px;
    color: white;
    font-size: 30px;
    margin-left: 13px;
    
}
.sidebar__button{   
    padding: 7px;   
}
.sidebar__button:hover  {
    background-color: #25c0c5d7
    
}
.sidebar__button:hover > .MuiSvgIcon-root{
    color: whitesmoke;
}
.sidebar__button:hover > p{
    color: whitesmoke;
    font-weight: bolder;
}
.sidebar__button > p{
    font-size: 0.7rem;
    margin-bottom: 3px;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.376);
    font-weight: bolder;
    text-align: center;
}
.sidebar__button__active>.MuiSvgIcon-root{
    margin-top: 5px;
    color: #3aa5ab;
    font-size: 30px;
    margin-left: 13px;
}
.sidebar__button__active {
    padding: 7px; 
    background-color: #f0f0f0f5;
}
.sidebar__button__active > p{
    font-size: 0.7rem;
    margin-bottom: 3px;
    color: #3aa5ab;
    border-bottom: 1px solid rgba(255, 255, 255, 0.376);
    font-weight: bolder;
    text-align: center;
}
.sidebar__button__active:hover {
    cursor: pointer;
}