.viewSubmissions{
    padding: 20px;
    position: relative;
}
.viewSubmissions__heading{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    text-align: center;
    
}
.viewSubmissions__heading > h1{
    color: #3aa5ab;
}
.viewSubmissions__heading > hr{
  
    border: 2px solid gray;
    background-color: gray;
    width: 30%;
    height: 50% ;
 
}

.viewSubmissions__submitted{
    margin-top: 30px;
}

.viewSubmissions__submitted > h1{
    color: #5c5c5c;
}

.viewSubmission__notSubmitted{
    margin-top: 20px;
}
.viewSubmission__notSubmitted > h1{
    color: #5c5c5c;
}

.viewSubmission__notSubmitted > ol > li{
    background-color: rgb(235, 235, 235) ;
    color: #5c5c5c;
    margin-top: 7px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.viewAssignment__actionButtons{
    margin-top: 50px;
    display: flex;
}

.viewAssignment__downloadButton{
    background-color: #3aa5ab;
    color: white ;
    padding: 10px ;
    border: none;
    outline-width: 0;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.viewAssignment__downloadButton:hover{
    background-color: #5DB8C6 ;
}

.viewAssignment__downloadPlagiarism{
    padding: 10px ;
    background-color: #C64334;
    color: white ;
    border: none;
    outline-width: 0;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 30px;
    cursor: pointer;
}
.viewAssignment__downloadPlagiarism:hover{
    background-color: #EC563E ;
}

.viewSubmission__notSubmitted > h3{
    color: #dbdbdb;
    text-align: center;
    margin-top: 50px;
}

.viewSubmissions__submitted > h3{
    color: #dbdbdb;
    text-align: center;
    margin-top: 50px;
}

.viewSubmissions__submittedLI{
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 5px 7px -7px rgb(0 0 0 / 75%);
}

.viewSubmissions__submittedLITop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.viewSubmissions__submittedLITop > h2{
    color: #888888;
}
.viewSubmissions__submittedLITop > div{
    display: flex ;
    align-items: center;
    
}
.viewSubmissions__submittedLITop > div > h4{
    color: #888888;
}
.viewSubmissions__submittedLITop > div > p{
    color: #a1a1a1;
    font-weight: bold;
    margin-left: 10px;
}

.viewSubmissions__submittedLIBottom{
    margin-top: 25px;
    display: flex;
    align-items: center;
    
}
.viewSubmissions__submittedLIBottom > h3{
    color: #888888;
}

.viewSubmissions__submittedLIBottom > a > p{
    margin-left: 20px;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    color: #888888;
    font-weight: bold;
}

.viewSubmissions__modal{
    position: absolute;
    display: flex;
    padding: 5px;
    padding-top: 70px;
    flex-direction: column;
    position: fixed;
  
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 600px;
    max-width: 100%;
    height: 600px;
    max-height: 600px;
    max-width: 800px;
    background-color: rgb(238, 236, 236);
    box-shadow: -7px 15px 7px 1000px rgba(0, 0, 0, 0.52);
    border: 1px solid gray;
    border-radius: 6px;
    text-align: center;
    overflow-y: scroll;
   
}
.viewSubmissions__modal > div{
    display: flex;
    text-align: left;
}

.viewSubmissions__modal > div > button{
  background-color: transparent;
  outline-width: 0;
  border: none;
}
.orignal__text{
    margin-top: 16px;
}
.matched__lists{
    margin-top: 16px;

}
#marksInput{
    width: 50px;
    padding: 5px;
    font-size: 1rem;
    outline-width: 0;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

.quizQuestionList{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 0px 10px;
}
.quizQuestion > h3{
    margin-top: 25px;
}
.quizQuestion > h4{
    margin-top: 5px;
}
.quizQuestion>div{
    width: 100%;
    height: 100px;
    max-height: 100px;
    background-color: whitesmoke;
    overflow-y: scroll;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
}
.quizMCQList{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 0px 10px;

}
.quizMCQ> h3{
    margin-top: 10px;
}
.quizMCQ>h4{
    margin-top: 5px;
}
.quizMCQOptionsList{
  margin-top: 10px;
}
.quizMCQOption{
    display: flex;
    align-items: center;

}
.quizMCQOption > p {
    margin-bottom: 5px;
}
.gradeQuiz{
    display: flex ;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.gradeQuiz>button{
    margin-top: 40px;
    padding: 10px 12px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    outline-width: 0;
    border: none;
    color: white;
    width: 200px;
    
}